main {
    margin: 10px;
    padding: 5px 7px 5px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color:crimson;
    text-align: center;
}
input {
    text-align: right;
    background-color: white;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
   /* display: inline-block;*/
   padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.displaytable {
    display: table;
}

.displaytable-cell {
    display: table-cell;
}
  
.button {
    width: 60px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
}

.blackbutton { 
    background-color: black; 
    color: white;
}

.greenbutton {
    background-color: #bbeab3;
}

.greybutton {
    background-color: #cccccc;
}

.bluebutton {
    background-color: #a6b8ea;
}

.redbutton {
    background-color: #e4b4b4;
}